body{
    margin: 0;
    padding: 0;
    font-family:'Acme', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.button{
    padding:5px 10px;
    background-image: linear-gradient(peru,orange);
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/*common css end*/
.header-sec{
    margin-left: 10%;
    display: flex;
}
.header-flex{
    width: 50%;
    margin-right: 20%;
}
.head-border{
    border-left: 3px solid rgb(231, 10, 29);
    border-image-slice: 1;
}
.name-color{
    color: peru;
}

/*header css end*/
.mission-sec{
    margin:0 10%;
}
.mission-sec h2{
    text-align: center;
}
.mission-cont-area{
    display: flex;
}
.mission-cont{
    width: 30%;
    padding: 3%;
    margin-right: 2%;
    border-radius: 5%;
}
.mission-cont img{
    height: 50%;
    width: 50%;
}
#mission-one{
    background-color: rgb(216, 214, 214);

}
#mission-two{
    background-color: rgb(158, 213, 235);
}
#mission-three{
    background-color: rgb(221, 209, 221);
}
/*mission area css ended*/